<%- include('includes/head.ejs') %>
</head>
<body>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item_list">
            <li class="main-header__item">
                <a href="/" class="active">Shop</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/add-product" class="active">Add Product</a>
            </li>
        </ul>
    </nav>
</header>
<h1 style="text-align: center; margin-top: 20%;">Page Not Found</h1>
<%- include('includes/end.ejs') %>