extends layouts/main-layout.pug
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product_item
                        header.crad__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src='https://cdn.elearningindustry.com/wp-content/uploads/2016/05/top-10-books-every-college-student-read-1024x640.jpeg')
                        .card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many event that happened in history
                        .card__actions
                        button.btn Add to Cart
        else
            h1(style="text-align: center") No Content
        

