body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;

}
.form-control input{
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid #928b99;
    background:white;
    color: #7618ce;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active{
    background: #7618ce;
    color:white;
}
.form-control {
    margin: 1rem 0;
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: #1a6347;
    padding: 0 1.5rem;
}
.main-header__item_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__item{
    margin: 0 1rem;
    padding: 0;
}
.main-header__item a {
    text-decoration: none;
    color: white;
}
.main-header__nav {
    height: 100%;
    display: flex; 
    align-items: center;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color:#dbc441;
    /* font-size: 1.3rem; */
}
main {
    padding: 1rem;
}
img {
    height: 200px;
    width: 200px;
}